@page "/authorform"

<PageTitle>Author Form</PageTitle>

<h3>AuthorForm</h3>

<div class="col-12">
    <EditForm Model="@a1" OnValidSubmit="@SaveAuthor">
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">First Name:</label>
            <InputText class="form-control col-3" @bind-Value="@a1.FirstName" placeholder="First name"></InputText>
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Last Name:</label>
            <InputText class="form-control col-3" @bind-Value="@a1.LastName" placeholder="Last name"></InputText>
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">City:</label>
            <InputText class="form-control col-3" @bind-Value="@a1.City" placeholder="City"></InputText>
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Email Address:</label>
            <InputText class="form-control col-3" @bind-Value="@a1.EmailAddress" placeholder="Email Address"></InputText>
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Email Address:</label>
            <InputNumber class="form-control col-3" @bind-Value="@a1.Salary" ></InputNumber>
        </div>
        <br />
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Save" />
            <span>&nbsp;</span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Clear" />
        </div>




    </EditForm>
</div>

@code {
    public Author2 a1 { get; set; } = new Author2();

    private void SaveAuthor()
    {
        
        
    }
}
